<ul style="list-style: none;">
  <% @articles.each do |a| %>
  <li>
   <h2>
     <%= link_to a.title, article_path(a.id), {:style=> "text-decoration: none; color: #337AB7;"} %>
   </h2>
   <p><%= a.content %></p>
  </li>
  <% end %>
</ul>
